<template>
  <section>

    <b-button rounded tag="a" type="is-info" @click="FCTokyo"><span>Tokyo</span></b-button>
    <b-button rounded tag="a" type="is-info" @click="FCYokohama"><span>Yokohama</span></b-button>
    <b-button rounded tag="a" type="is-info" @click="FCKyoto"><span>Kyoto</span></b-button>
    <b-button rounded tag="a" type="is-info" @click="FCOsaka"><span>Osaka</span></b-button>
    <b-button rounded tag="a" type="is-info" @click="FCSapporo"><span>Sapporo</span></b-button>
    <b-button rounded tag="a" type="is-info" @click="FCNagoya"><span>Nagoya</span></b-button>
    
    <br/><br/>

    <div id="weather" class="row justify-content-center">
      <div class="col-md-4" v-if="weatherDetails.weather.weather[0].main === 'Clear'">
        <img src="/storage/images/clear.jpg" height="50%" width="50%" />
      </div>
      <div class="col-md-4" v-else-if="weatherDetails.weather.weather[0].main === 'Clouds'">
        <img src="/storage/images/cloud.jpg" height="50%" width="50%" />
      </div>
      <div class="col-md-4" v-else-if="weatherDetails.weather.weather[0].main === 'Rain'">
        <img src="/storage/images/rain.jpg" height="50%" width="50%" />
      </div>
      <div class="col-md-4" v-else-if="weatherDetails.weather.weather[0].main === 'Snow'">
        <img src="/storage/images/snow.jpg" height="50%" width="50%" />
      </div>
      <div class="col-md-4">
        <div>
          <table>
            <tr>
              <td>{{weatherDetails.weather.name}}, {{weatherDetails.weather.sys.country}}</td>
            </tr>
            <tr>
              <td>{{weatherDetails.weather.currentDate}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <table>
            <tr>
              <td>{{weatherDetails.weather.weather[0].description}}</td>
            </tr>
            <tr>
              <td>{{weatherDetails.weather.main.temp}}</td>
            </tr>
          </table>
        </div>
      </div>        
    </div>
    

    <div id="forecast" class="row justify-content-center">
      <table>
        <tr>

          <td>
            <table>
              <tr>
                <td align="center">
                  <div class="col-md-4" v-if="weatherDetails.forecast.list[0].weather[0].main === 'Clear'">
                    <img src="/storage/images/clear.jpg" height="100%" width="100%" />
                  </div>
                  <div class="col-md-4" v-else-if="weatherDetails.forecast.list[0].weather[0].main === 'Clouds'">
                    <img src="/storage/images/cloud.jpg" height="100%" width="100%" />
                  </div>
                  <div class="col-md-4" v-else-if="weatherDetails.forecast.list[0].weather[0].main === 'Rain'">
                    <img src="/storage/images/rain.jpg" height="100%" width="100%" />
                  </div>
                  <div class="col-md-4" v-else-if="weatherDetails.forecast.list[0].weather[0].main === 'Snow'">
                    <img src="/storage/images/snow.jpg" height="100%" width="100%" />
                  </div>
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[0].day }}
                </td>
              </tr>
              <tr>
                <td align="center">
                  Min
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[0].main.temp_min }} &deg;C
                </td>
              </tr>
              <tr>
                <td align="center">
                  Max
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[0].main.temp_max }} &deg;C
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[0].weather[0].description }}
                </td>
              </tr>
            </table>
          </td>

          <td>
            <table>
              <tr>
                <td align="center">
                  <div class="col-md-4" v-if="weatherDetails.forecast.list[8].weather[0].main === 'Clear'">
                    <img src="/storage/images/clear.jpg" height="100%" width="100%" />
                  </div>
                  <div class="col-md-4" v-else-if="weatherDetails.forecast.list[8].weather[0].main === 'Clouds'">
                    <img src="/storage/images/cloud.jpg" height="100%" width="100%" />
                  </div>
                  <div class="col-md-4" v-else-if="weatherDetails.forecast.list[8].weather[0].main === 'Rain'">
                    <img src="/storage/images/rain.jpg" height="100%" width="100%" />
                  </div>
                  <div class="col-md-4" v-else-if="weatherDetails.forecast.list[8].weather[0].main === 'Snow'">
                    <img src="/storage/images/snow.jpg" height="100%" width="100%" />
                  </div>
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[8].day }}
                </td>
              </tr>
              <tr>
                <td align="center">
                  Min
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[8].main.temp_min }} &deg;C
                </td>
              </tr>
              <tr>
                <td align="center">
                  Max
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[8].main.temp_max }} &deg;C
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[8].weather[0].description }}
                </td>
              </tr>
            </table>
          </td>

          <td>
            <table>
              <tr>
                <td align="center">
                  <div class="col-md-4" v-if="weatherDetails.forecast.list[16].weather[0].main === 'Clear'">
                    <img src="/storage/images/clear.jpg" height="100%" width="100%" />
                  </div>
                  <div class="col-md-4" v-else-if="weatherDetails.forecast.list[16].weather[0].main === 'Clouds'">
                    <img src="/storage/images/cloud.jpg" height="100%" width="100%" />
                  </div>
                  <div class="col-md-4" v-else-if="weatherDetails.forecast.list[16].weather[0].main === 'Rain'">
                    <img src="/storage/images/rain.jpg" height="100%" width="100%" />
                  </div>
                  <div class="col-md-4" v-else-if="weatherDetails.forecast.list[16].weather[0].main === 'Snow'">
                    <img src="/storage/images/snow.jpg" height="100%" width="100%" />
                  </div>
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[16].day }}
                </td>
              </tr>
              <tr>
                <td align="center">
                  Min
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[16].main.temp_min }} &deg;C
                </td>
              </tr>
              <tr>
                <td align="center">
                  Max
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[16].main.temp_max }} &deg;C
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[16].weather[0].description }}
                </td>
              </tr>
            </table>
          </td>

          <td>
            <table>
              <tr>
                <td align="center">
                  <div class="col-md-4" v-if="weatherDetails.forecast.list[24].weather[0].main === 'Clear'">
                    <img src="/storage/images/clear.jpg" height="100%" width="100%" />
                  </div>
                  <div class="col-md-4" v-else-if="weatherDetails.forecast.list[24].weather[0].main === 'Clouds'">
                    <img src="/storage/images/cloud.jpg" height="100%" width="100%" />
                  </div>
                  <div class="col-md-4" v-else-if="weatherDetails.forecast.list[24].weather[0].main === 'Rain'">
                    <img src="/storage/images/rain.jpg" height="100%" width="100%" />
                  </div>
                  <div class="col-md-4" v-else-if="weatherDetails.forecast.list[24].weather[0].main === 'Snow'">
                    <img src="/storage/images/snow.jpg" height="100%" width="100%" />
                  </div>
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[24].day }}
                </td>
              </tr>
              <tr>
                <td align="center">
                  Min
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[24].main.temp_min }} &deg;C
                </td>
              </tr>
              <tr>
                <td align="center">
                  Max
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[24].main.temp_max }} &deg;C
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[24].weather[0].description }}
                </td>
              </tr>
            </table>
          </td>

          <td>
            <table>
              <tr>
                <td align="center">
                  <div class="col-md-4" v-if="weatherDetails.forecast.list[32].weather[0].main === 'Clear'">
                    <img src="/storage/images/clear.jpg" height="100%" width="100%" />
                  </div>
                  <div class="col-md-4" v-else-if="weatherDetails.forecast.list[32].weather[0].main === 'Clouds'">
                    <img src="/storage/images/cloud.jpg" height="100%" width="100%" />
                  </div>
                  <div class="col-md-4" v-else-if="weatherDetails.forecast.list[32].weather[0].main === 'Rain'">
                    <img src="/storage/images/rain.jpg" height="100%" width="100%" />
                  </div>
                  <div class="col-md-4" v-else-if="weatherDetails.forecast.list[32].weather[0].main === 'Snow'">
                    <img src="/storage/images/snow.jpg" height="100%" width="100%" />
                  </div>
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[32].day }}
                </td>
              </tr>
              <tr>
                <td align="center">
                  Min
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[32].main.temp_min }} &deg;C
                </td>
              </tr>
              <tr>
                <td align="center">
                  Max
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[32].main.temp_max }} &deg;C
                </td>
              </tr>
              <tr>
                <td align="center">
                  {{ weatherDetails.forecast.list[32].weather[0].description }}
                </td>
              </tr>
            </table>
          </td>

        </tr>
      </table>

    </div>


  </section>
</template>

<script>
import { SnackbarProgrammatic as Snackbar } from "buefy";

export default {
  name:'Map',
  data() {
    return {
      map:null,
      mapCenter:{lat:45.327168, lng: 14.442902},
      weatherDetails: {},
      currentDate:null,
    };
  },
  methods: {
    FCTokyo() {
      const params = [
        `city=Tokyo`,
      ].join("&");
      axios
        .get(`/api/main?${params}`, {
          headers: {
            Authorization: "Bearer " + this.auth_user.api_token,
          },
        })
        .then(({ data }) => {
          // api.themoviedb.org manage max 1000 pages
          this.data = [];
          this.weatherDetails = data;
          console.log(this.weatherDetails);
        })
        .catch((error) => {
          this.data = [];
          this.total = 0;
          throw error;
        });
    },
    FCYokohama() {
      const params = [
        `city=Yokohama`,
      ].join("&");
      axios
        .get(`/api/main?${params}`, {
          headers: {
            Authorization: "Bearer " + this.auth_user.api_token,
          },
        })
        .then(({ data }) => {
          // api.themoviedb.org manage max 1000 pages
          this.data = [];
          this.weatherDetails = data;
          console.log(this.weatherDetails);
        })
        .catch((error) => {
          this.data = [];
          this.total = 0;
          throw error;
        });
    },
    FCKyoto() {
      const params = [
        `city=Kyoto`,
      ].join("&");
      axios
        .get(`/api/main?${params}`, {
          headers: {
            Authorization: "Bearer " + this.auth_user.api_token,
          },
        })
        .then(({ data }) => {
          // api.themoviedb.org manage max 1000 pages
          this.data = [];
          this.weatherDetails = data;
          console.log(this.weatherDetails);
        })
        .catch((error) => {
          this.data = [];
          this.total = 0;
          throw error;
        });
    },
    FCOsaka() {
      const params = [
        `city=Osaka`,
      ].join("&");
      axios
        .get(`/api/main?${params}`, {
          headers: {
            Authorization: "Bearer " + this.auth_user.api_token,
          },
        })
        .then(({ data }) => {
          // api.themoviedb.org manage max 1000 pages
          this.data = [];
          this.weatherDetails = data;
          console.log(this.weatherDetails);
        })
        .catch((error) => {
          this.data = [];
          this.total = 0;
          throw error;
        });
    },
    FCSapporo() {
      const params = [
        `city=Sapporo`,
      ].join("&");
      axios
        .get(`/api/main?${params}`, {
          headers: {
            Authorization: "Bearer " + this.auth_user.api_token,
          },
        })
        .then(({ data }) => {
          // api.themoviedb.org manage max 1000 pages
          this.data = [];
          this.weatherDetails = data;
          console.log(this.weatherDetails);
        })
        .catch((error) => {
          this.data = [];
          this.total = 0;
          throw error;
        });
    },
    FCNagoya() {
      const params = [
        `city=Nagoya`,
      ].join("&");
      axios
        .get(`/api/main?${params}`, {
          headers: {
            Authorization: "Bearer " + this.auth_user.api_token,
          },
        })
        .then(({ data }) => {
          // api.themoviedb.org manage max 1000 pages
          this.data = [];
          this.weatherDetails = data;
          console.log(this.weatherDetails);
        })
        .catch((error) => {
          this.data = [];
          this.total = 0;
          throw error;
        });
    }
  },
  filters: {
    /**
     * Filter to truncate string, accepts a length parameter
     */
    truncate(value, length) {
      return value.length > length ? value.substr(0, length) + "..." : value;
    },
  },
  mounted() {
    this.FCTokyo();
  },
  props: ["auth_user"],
  created() {},
};
</script>
